body {
  --primary: #282c34;
  --secondary: #eaeaeb;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary);
  min-height: 100vh;
  color: var(--secondary);
  font-size: 2rem;
}

.remainingTime {
  color: var(--secondary);
}


.btnClean {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-align: left;
  white-space: normal;
  cursor: pointer;
}

.btnClean:disabled,
.btnClean[aria-disabled='true'] {
  opacity: 0.5;
  pointer-events: none;
}

.playButton {
  composes: btnClean;
  text-align: center;
  padding: 1rem;
  border: solid 1px var(--secondary);
  border-radius: 5%;
  min-width: 10rem;
  height: 5rem;
}

.nextStep {
  font-style: italic;
}